body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, sans-serif;
}

#logo-bar {
    background: white;
    padding: 30px 0;
    text-align: left; /* Alinear el logo a la izquierda */
    position: relative; /* Para posicionar el logo dentro de esta barra */
}

#logo {
    position: absolute;
    left: 10px;
    top: 50%; /* Centrar el logo verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centrar el logo exactamente */
    height: 50px; /* Ajusta esta altura como sea necesario */
}

header {
    background: #58A4B0;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: space-between;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

#categories, #tasks {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 30%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#calendar{
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos hijos horizontalmente al centro */
    justify-content: start; /* Alinea los elementos hijos verticalmente al principio */
    padding: 10px;
    background: #ddd;
}

#calendar .calendar__info{
    display: flex;
    align-items: center;
    padding: 0 2em;
    font-size: 1.2em;
    text-transform: uppercase;
}

#calendar .calendar__prev, #calendar .calendar__next{
    color: #a7dd11;
    cursor: pointer;
    font-size: 1.3em;
}

#calendar .calendar__prev{
    margin-right: auto;
}

#calendar .calendar__next{
    margin-left: auto;
}

#calendar .calendar__week, #calendar .calendar__dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}


#calendar .calendar__month, #calendar .calendar__year{
    padding: .5em 1em;
}

#calendar .calendar__item{
    text-align: center;
    line-height: 2;
}

#calendar .calendar__today{
    background-color: #ddd;
    color: red;
    width: 50%;
    border-radius: 50%;
    margin: auto;
}

#calendar .calendar__last-days{
    opacity: .3;
}

/* Para el título de Calendario */
#calendar h2 {
    /* Ajusta el estilo de tu título de Calendario aquí */
    margin-bottom: 20px; /* Añade un espacio debajo del título */
}

/* Para la barra de información del calendario (mes y año) */
.calendar__info {
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
    justify-content: space-evenly; /* Espaciado uniforme entre los elementos */
    margin-bottom: 20px; /* Añade un espacio debajo de la barra de información del mes */
}

/* Para los nombres de los días de la semana */
.calendar__week {
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
    justify-content: space-evenly; /* Espaciado uniforme entre los elementos */
    margin-bottom: 20px; /* Añade un espacio debajo de los nombres de los días */
}

/* Para los días del mes */
.calendar__dates {
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
    flex-wrap: wrap; /* Permite que los elementos de los días se envuelvan */
    justify-content: start; /* Alinea los días al principio */
}

.marked-date {
    background-color: #FFD700; /* Cambia este color al que desees para las fechas marcadas */
    color: black;
}

h2 {
    font-size: 1.5em;
}

button {
    padding: 10px 20px;
    background: #58A4B0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #429293;
}

ul {
    padding: 0;
}

li {
    padding: 5px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

li:hover {
    background-color: #f5f5f5;
}

.task-list {
    display: flex;
    flex-direction: column;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.task-name {
    flex-grow: 1;
}

.task-icon {
    width: 20px; /* Ajusta según el tamaño de tu icono */
    height: 20px; /* Ajusta según el tamaño de tu icono */
}

.status-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Parte emojis*/
    #emojiButton, #selectedEmoji {
        margin: 5px;
        font-size: 13px;
    }

    #selectedEmoji {
        display: inline-block;
        width: 24px; /* Ajusta el tamaño según prefieras */
    }

    .emoji-picker {
        bottom: 20px;
        right: 20px;
    }