@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: #fff;
}

.main{
    padding: 0 88px;
    position: relative;
    overflow-x: hidden;
    background-color: #334420;
}

.main::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 55%;
    top: 20%;
    background-color: #a7b188;
    filter: blur(90px);
}

.main::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 80%;
    top: 44%;
    background-color: #ffffff;
    filter: blur(90px);
}

.container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
    background-image: url(bg1.jpeg);
}

.card:nth-of-type(2) .img__back{
    background-image: url(bg1.jpeg);
}

.card:nth-of-type(3) .img__back{
    background-image: url(bg1.jpeg);
}

.card:nth-of-type(4) .img__back{
    background-image: url(bg1.jpeg);
}

.card:nth-of-type(5) .img__back{
    background-image: url(bg1.jpeg);
}

.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background:  rgba(255, 255, 255, 0.2);
    color: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #83277b;
}

.card .info-btn.selected{
    border: none;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
}

/*
Estilos de nuestro archivo de style.css
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ffffff;
}


.main .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar .toggler{
    font-size: 2rem;
    color: #c5c3c3;
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: none;
}

.navbar .nav-btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 90px;
    height: 40px;
    color: #ccc;
    font-size: 12px;
}

.navbar .nav-btn.selected{
    border: 2px solid #ccc;
    border-radius: 50px;
}

.navbar .logo{
    background: linear-gradient(95deg, #FEFAE0 3.2%, #9fad6f 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 32px;
}

.navbar .item{
    font-size: 13px;
    color: #ccc;
    cursor: pointer;
}

.navbar .item.selected{
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #7e22ce;
}

.navbar .item.inactive{
    background: linear-gradient(95deg, #eaddf5 3.2%, #eaddf5 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .item:not(:last-child){
    margin-right: 20px;
}

.navbar .nav-buttons.active{
    transition: all 0.3s ease;
    opacity: 1;
}

.main .top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
}

.top-container .info-box{
    max-width: 50%;
    animation: toRight 0.8s;
}

.top-container .header{
    margin: 0;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 55px;
}

.top-container .info-text{
    margin: 2px 5 3px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.top-container .info-buttons{
    display: flex;
}

.top-container .info-btn{
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    color: #fff;
}

.top-container .info-btn.nav-btn{
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid #fff;
}

.top-container .info-btn.selected{
    border: none;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
}

.top-container .nft-box{
    padding: 16px;
    border: 1px solid #000;
    background: linear-gradient(170deg, rgba(52, 93, 129, 0.08) 1.85%, rgba(57, 46, 75, 0.08) 98%);
    border-radius: 2rem;
    animation: toLeft 0.8s;
}

.top-container .nft-pic{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 1.6rem;
}

.top-container .nft-box .nft-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.top-container .nft-box .info, .top-container .nft-box .likes{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

.top-container .nft-box .info-img{
    object-fit: cover;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.top-container .nft-box .likes .icon-box{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.top-container .nft-box .likes .icon-box .bx{
    font-size: 30px;
    margin-right: 8px;
}

.get-started{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

.get-started .header{
    align-self: center;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
}

.get-started .info-text{
    align-self: center;
    color: #ccc;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
}
.get-started .info-text1{
    align-self: left;
    color: #ccc;
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
    letter-spacing: 0.5px;
}
.get-started .items-box{
    padding: 60px 80px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    justify-content: space-around;
}

.get-started .items-box:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 120px;
    top: 80px;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    filter: blur(140px);
}

.get-started .items-box .item-container p{
    width: 100px;
    margin-top: 12px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.get-started .items-box .item-container .item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 2.6rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(90px);
}

.get-started .items-box .item-container .item .bx{
    font-size: 38px;
    color: #eee;
}

.main .footer{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .copyright{
    padding-bottom: 25px;
    border-top: 1px solid #ccc;
}

.main .footer .footer-header{
    max-width: 50%;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
}

.main .footer .footer-links{
    display: flex;
}

.main .footer .footer-links .link{
    margin-left: 70px;
}

.main .footer .footer-links .link h5{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}

.main .footer .footer-links .link p{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #ccc;
}

.copyright p{
    font-size: 12px;
    line-height: 36px;
    color: #afafaf;
}

@media screen and (max-width: 1040px) {
    .top-container{
        flex-direction: column;
    }

    .top-container .info-box{
        max-width: none;
        margin: 60px 0;
    }

    .top-container .nft-box{
        display: none;
    }

    .main .footer{
        flex-direction: column;
    }

    .main .footer .footer-header{
        max-width: 80%;
        margin-bottom: 30px;
        text-align: center;
    }

    .main .footer .footer-links .link:first-child{
        margin: 0;
    }
}

@media screen and (max-width: 925px) {
    .navbar .nav-links{
        display: none;
    }

    .navbar .nav-buttons{
        opacity: 0;
    }

    .navbar .toggler{
        display: flex !important;
        align-items: center;
    }

    .get-started .info-text{
        text-align: center;
    }

    .get-started .items-box{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        padding: 50px 0;
    }

    .get-started .items-box:before{
        height: 200px;
        top: 90px;
        filter: blur(120px);
    }
}

@media screen and (max-width: 700px) {
    .top-container{
        margin-top: 4rem !important;
    }

    .top-container .info-box{
        max-height: none;
        max-width: none;
        margin-bottom: 4rem;
    }

    .top-container .nft-box{
        display: block;
        max-width: none;
        max-height: none;
    }
}

@media screen and (max-width: 600px) {
    .main{
        padding: 0 40px;
    }

    .footer .footer-header{
        font-size: 20px;
        line-height: 30px;
        max-width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer .footer-links{
        justify-content: space-between;
        width: 100%;
    }

    .footer .footer-links .link{
        margin-left: 20px;
    }

    .footer .footer-links .link h5{
        font-size: 15px;
        line-height: 35px;
    }

    .footer .footer-links .link p{
        font-size: 11px;
        line-height: 18px;
    }
}

@keyframes toRight{
    from{
        transform: translateX(-700px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes toLeft{
    from{
        transform: translateX(550px);
    }
    to{
        transform: translateX(0px);
    }
}

h2.separator{
    padding: 0 80px;
    font-size: 40px;
    margin-top: 40px;
}
.sl-nft{
    padding: 0 80px;
    margin: 50px 0 80px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.sl-nft .item{
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    box-shadow: 0 10px 30px #f4f1f1;
    transition: all 0.3s ease;
}

.sl-nft .item:hover{
    box-shadow: none;  
}

.sl-nft .item .header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sl-nft .item .header i{
    font-size: 40px;
}

.sl-nft .item .header h5{
    font-size: 18px;
}

.sl-nft .item p{
    margin-top: 10px;
    padding: 0 4px;

}
/*
Función agregada para quitar el subrayao de las etiquetas a
*/

.nav-buttons a {
    text-decoration: none; /* Elimina la decoración del enlace */
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  ul li {
    margin: 0 10px; /* Ajusta el espaciado entre iconos según necesites */
  }
  
  ul li a {
    display: inline-block; /* Cambia a inline-block para mejor alineación */
    position: relative;
    width: 60px; /* Tamaño de los iconos, ajusta según prefieras */
    height: 60px;
    text-align: center;
    color: #404040; /* Color de los iconos */
    transition: .5s;
  }
  
  ul li a i {
    line-height: 60px; /* Alinea verticalmente los iconos */
    font-size: 30px; /* Tamaño de los iconos, ajusta según prefieras */
  }
  
  /* Estilos para animaciones */
  ul li a span {
    position: absolute;
    transition: transform .5s;
  }
  /* Horizontales */
  ul li a span:nth-child(1){
    width: 100%;
    height: 3px;
    background: #404040;
  }
  ul li a span:nth-child(3){
    width: 100%;
    height: 3px;
    background: #404040;
  }
  ul li a span:nth-child(1) {
    top: 0;
    left: 0;
  }
  ul li a:hover span:nth-child(1){
    width: 0; /* Efecto de desaparición */

  }
  ul li a:hover span:nth-child(3) {
    width: 0; /* Efecto de desaparición */
  }
  /* Verticales */
  ul li a span:nth-child(2){
    width: 3px;
    height: 100%;
    background: #404040;
  }
  ul li a span:nth-child(4){
    width: 3px;
    height: 100%;
    background: #404040;
  }
  ul li a span:nth-child(2) {
    top: 0;
    left: 0;
  }
  ul li a:hover span:nth-child(2){
    height: 0;
  }
  ul li a:hover span:nth-child(4) {
    height: 0; 
  }
  .google:hover{
    color: #dd4b39; 
  }
  .instagram:hover{
    color: #c32aa3; 

  }
  .github:hover {
    color: #e9e2e2; 
  }
  .google:hover span{
    color: #dd4b39; 

  }
  .instagram:hover span{
    color: #c32aa3; 

  }
  .github:hover span{
    color: #e9e2e2; 
  }
  
  .google, .instagram, .github {
    text-decoration: none;
}